@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: cupcake --default;
  root: ":root";
  include:;
  exclude:;
  prefix:;
  logs: true;
}

@theme {
  --breakpoint-3xl: 120rem;
  --max-width-hd: 120rem;
  --container-max-width-3xl: 120rem;
}

@layer components {
  .binsa-container {
    width: 100%;
    padding-inline-end: 1rem;
    padding-inline-start: 1rem;
  }

  @media screen and (min-width: theme("breakpoint.3xl")) {
    .binsa-container {
      margin-inline-end: auto;
      margin-inline-start: auto;
      max-width: var(--max-width-hd);
    }
  }
}

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
